.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}


.item {
  margin: 20px;
  height: 200px;
  width: 200px;
  background-color: #00AF87;
  border-radius: 15px;
  border: 2px solid #aeffed;
  justify-content: center;
  align-items: center;
  display: flex;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
